body {
    background: #f1f1f1;

    /*The Trebuchet-based sans serif stack:*/
    font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans',
        'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
}

span.logo {
    color: #16796b;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 44px;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 10px;
    margin-left: -4px;
    white-space: nowrap;
}

a {
    color: #16796b;
}

a:hover,
a:focus {
    color: #20b27f;
    text-decoration: underline;
}

.highlight {
    color: #888;
}

p.date {
    color: #888;
}

ul.spaced li {
    margin-bottom: 0.75rem;
}

ul.icons i {
    min-width: 25px;
    padding-bottom: 5px;
    color: #888;
}

ul.pages {
    padding-top: 27px;
    padding-right: 5px;
    margin-bottom: 0px;
    font-size: 1.2rem;
}

ul.small-pages {
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 1.2rem;
}

ul.small-pages li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
