<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ site.name }} / {{ page.title }}</title>

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

  <link rel="stylesheet" href="/css/foundation.min.css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  
  <script src="/js/vendor/modernizr.js"></script>
</head>
<body>

  <div class="row">
    <div class="small-12 medium-8 medium-centered columns">
      <div class="row">
        <div class="small-12 medium-4 columns small-only-text-center">
          <a href="/"><span class="logo">{ ~finlay }</span></a>
        </div>
        <div class="small-12 medium-8 columns">
          <!-- small layout -->
          <ul class="show-for-small-only text-center small-pages">
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
          <!-- medium-up -->
          <ul class="show-for-medium-up inline-list right pages">
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-8 medium-centered columns">

      {{ content }}

    </div>

    <!--   
    <div class="medium-4 columns">
    </div>
    -->
  </div>

  <div class="row">
    <div class="small-12 medium-8 medium-centered columns">

      <hr>

      <span class="highlight">Also...</span>
      <ul class="icons no-bullet">
        <li><i class="fa fa-envelope-o" style="color: grey;"></i>hello@finlaycannon.com</li>
        <li><a href="https://twitter.com/findango"><i class="fa fa-twitter fa-lg"></i>twitter/findango</a></li>
        <li><a href="https://github.com/findango"><i class="fa fa-github fa-lg"></i>github/findango</a></li>
        <li><a href="/feed.xml"><i class="fa fa-rss fa-lg"></i>rss feed</a></li>
      </ul>
    </div>
  </div>

  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script>
  $(document).foundation();
  </script>

</body>
</html>


